nginx1:
  image: nginx
  container_name: nginx
  ports:
  - "80:80"
  - "433:433"
  volumes:
    - /etc/nginx/conf.d
    - /etc/nginx/vhost.d
    - /usr/share/nginx/html
    - /home/dkr/services/volumes/proxy/certs:/etc/nginx/certs:ro

nginx-gen:
  links:
    - "nginx1"
  image: jwilder/docker-gen
  container_name: nginx-gen
  volumes:
    - /var/run/docker.sock:/tmp/docker.sock:ro
    - /home/dkr/services/volumes/proxy/templates/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
  volumes_from:
    - nginx1
  entrypoint: /usr/local/bin/docker-gen -notify-sighup nginx -watch -only-exposed -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf

neo4j:
  image: neo4j:3.1.0
  env_file: .env
  cap_add:
  - SYS_RESOURCE
  ports:
  - "7474:7474"
  - "7687:7687"

shiny:
  links:
    - "nginx1"
  image: rocker/shiny
  container_name: shiny
  environment:
    - VIRTUAL_HOST=shiny.frederikdurant.com
  volumes:
    - /home/dkr/services/volumes/shiny/apps:/srv/shiny-server/
    - /home/dkr/services/volumes/shiny/logs:/var/log/
    - /home/dkr/services/volumes/shiny/packages:/home/shiny/
  ports:
    - "3838:3838"
