version: '2'
services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

  neo4j:
    image: neo4j:3.1.0
    env_file: .env
    cap_add:
    - SYS_RESOURCE
    ports:
    - "7474:7474"
    - "7687:7687"

  shiny:
    links:
      - "nginx-proxy"
    image: rocker/shiny
    container_name: shiny
    environment:
      - VIRTUAL_HOST=shiny.frederikdurant.com
    volumes:
      - /home/dkr/services/volumes/shiny/apps:/srv/shiny-server/
      - /home/dkr/services/volumes/shiny/logs:/var/log/
      - /home/dkr/services/volumes/shiny/packages:/home/shiny/
    ports:
      - "3838:3838"
