version: '2'
services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

  shiny:
    links:
      - "nginx-proxy"
    image: rocker/shiny
    container_name: shiny
    environment:
      - VIRTUAL_HOST=shiny.frederikdurant.com
    volumes:
      - ./shiny_apps:/srv/shiny-server/
      - /home/dkr/services/volumes/shiny/logs:/var/log/
      - /home/dkr/services/volumes/shiny/packages:/home/shiny/
    ports:
      - "80:3838"

  neo4j:
    image: jgkim/neo4j
    container_name: neo4j_apoc_spatial
    env_file: .env
    cap_add:
    - SYS_RESOURCE
    ports:
    - "7474:7474"
    - "7687:7687"
